.contact {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: aqua;
    overflow: hidden;
    position: relative;
    #scrollDist{
        position: absolute;
    }
    .map_cont{
        position: absolute;
        svg{
            position: absolute;
        }
        img{
            position: absolute;
        }
        //background-image: url("images/content/8kLib.png");
        //background-size: auto;
        //background-repeat: no-repeat;
    }
}