#scrollDist {
    position: absolute;
    width: 100%;
    height: 500%;
  }
  
  #contact{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    
  }

  #map_container{
    position: relative;
    height: 2442px;
    width: 5379px;
    transformOrigin: '0 0';
  }

.contact {  
    svg, img {
        position:absolute;
    }
}