<section id="partners" class="partners">
    <div class="container">
        <div class="carousel">
            <div class="carousel__face"><a href="https://www.prusa3d.com/"></a></div>
            <div class="carousel__face"><a href="https://www.filament-pm.cz/"></a></div>
            <div class="carousel__face"><a href="https://www.tul.cz/"></a></div>
            <div class="carousel__face"><a href="https://www.steinel.cz/"></a></div>
            <div class="carousel__face"><a href="https://www.prusa3d.com/"></a></div>
            <div class="carousel__face"><a href="https://www.filament-pm.cz/"></a></div>
            <div class="carousel__face"><a href="https://www.tul.cz/"></a></div>
            <div class="carousel__face"><a href="https://www.prusa3d.com/"></a></div>
            <div class="carousel__face"><a href="https://www.tul.cz/"></a></div>
        </div>
    </div>

</section>