<section id="partners" class="partners">
    <div class="container">
        <div class="carousel">
            <div class="carousel__face"><span>1</span></div>
            <div class="carousel__face"><span>2</span></div>
            <div class="carousel__face"><span>3</span></div>
            <div class="carousel__face"><span>4</span></div>
            <div class="carousel__face"><span>5</span></div>
            <div class="carousel__face"><span>6</span></div>
            <div class="carousel__face"><span>7</span></div>
            <div class="carousel__face"><span>8</span></div>
            <div class="carousel__face"><span>9</span></div>
        </div>
    </div>

</section>