.footer {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid rgba(83, 83, 83, 0.1);;
    background-color: var(--main-color);
    min-height: 120px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);

    h5{
        @include tul16Regular();
    }

    .social{
        display: flex; 
        justify-content: space-around;
        padding-bottom: 10px;
        gap: 10px;
        img{
            height: 30px;
            filter: invert(1);
        }

        img:hover{
            filter: invert(84%) sepia(81%) saturate(4479%) hue-rotate(124deg) brightness(103%) contrast(92%);
        }

    }

    .kontakt {
        img{
            height: 1em;
            filter: invert(1);
            vertical-align: bottom;
        }

        a {
            @include Inter14Regular();
            text-decoration: none; 
            color: var(--white-color);
            padding: 1px;
        }
    }

    h4{
        @include Inter16Regular();
        color:var(--accent-color);
        text-decoration: underline;
        padding-bottom: 4px;
    }
    p{
        @include Inter14Regular();
        color:var(--white-color);
        padding: 1px;
    }

    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            padding: 5px;
        }

        .adresa {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .kontakt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}