{% include "header/header.njk" %}

{% include "00_background/background.njk" %}

{% include "cenik_00_calc/calc.njk" %}

{% include "07_footerInfo/footerInfo.njk" %}

{% include "footer/footer.njk" %}