{% set title = "TULab" %}

{% include "header/header.njk" %}

{% include "00_nav/nav.njk" %}

{% include "00_background/background.njk" %}

{% include "01_heroImage/heroImage.njk" %}

{% include "02_technology/technology.njk" %}

{% include "03_calendar/calendar.njk" %}

{% include "04_contact/contact.njk" %}

{% include "05_partners/partners.njk" %}

{% include "77_footerInfo/footerInfo.njk" %}

{% include "footer/footer.njk" %}