{% set title = "TULab" %}

{% include "header/header.njk" %}

{% include "00_nav/nav.njk" %}

{% include "00_background/background.njk" %}

{% include "01_heroImage/heroImage.njk" %}

{% include "02_about/about.njk" %}

{% include "03_technology/technology.njk" %}

{% include "04_calendar/calendar.njk" %}

{% include "05_contact/contact.njk" %}

{% include "06_partners/partners.njk" %}

{% include "07_footerInfo/footerInfo.njk" %}

{% include "footer/footer.njk" %}