<section id = "calendar" class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%235948ad&ctz=Europe%2FPrague&showNav=1&showCalendars=0&showPrint=0&showTz=0&showTabs=0&mode=WEEK&showTitle=0&src=Y182MTQ4MmM0OWYzYjlmZjJhMWU0NDNhMGMxMzY5MzczMzhlYmQ2NzNlNGMyOTAyYjhlMDMwMDdlZDIzNzg4MzJiQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23B39DDB" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>