.calendar{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    iframe{
        border: 0;
        height: calc(100% - 32px);
        padding-top: 16px;
        padding-bottom: 16px;
        aspect-ratio: calc(8/6);
        max-width: 100%;
    }
    @media (max-width: 550px) {
        iframe{
            height: auto;
            width: 100%;
            scroll-behavior: unset;
        }
    }
}