    <script type="text/js" src="js/vendor/gsap.min.js"></script>
    <script type="text/js" src="js/vendor/DrawSVGPlugin.min.js"></script>
    <script type="text/js" src="js/vendor/MotionPathPlugin.min.js"></script>  
    <script type="text/js" src="js/vendor/ScrollTrigger.min.js"></script>
    <script src="js/scripts.js?202211305222"></script>
    </body>
</html>