    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script> #}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/ScrollTrigger.min.js"></script> #}
    {#<script src="js/gsap.min.js"></script> #}
    {# <script src="js/DrawSVGPlugin.min.js"></script> #}
    
    {# <script src="js/ScrollTrigger.min.js"></script> #}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollToPlugin.min.js"></script>
    <script src="js/scripts.js?2022110274"></script>
    </body>
</html>