<section class="footer">
    <div class = "left">
        <div class = "adresa">
            <h4>Adresa</h4>
            <p>Suterén budovy A</p>
            <p>Hálkova 6</p>
            <p>Liberec 460 01</p>
        </div>
    </div>
    <div class = "middle">
        <div class = "social">
            <a href="https://www.instagram.com/tulab_official/"><img src="@/../images/content/svg/instagram.svg"/></a>
            <a href="https://www.facebook.com/people/tulab_official/100083199377110/"><img src="@/../images/content/svg/square-facebook.svg"/></a>
            <a href="mailto:tulab@tul.cz"><img src="@/../images/content/svg/envelope-solid.svg"/></a>
        </div>
        <h5>© TULab 2022</h5>
    </div>

    <div class = "right">
        <div class = "kontakt">
            <h4>Dílnovedoucí</h4>
            <p>Ing. Jan Koprnický, Ph.D.</p>
            <a href="mailto:jan.koprnicky@tul.cz"><img src="@/../images/content/svg/envelope-solid.svg"/>  jan.koprnicky@tul.cz</a>
            <p>Ing. Lubomír Slavík, Ph.D.</p>
            <a href="mailto:lubomir.slavik@tul.cz"><img src="@/../images/content/svg/envelope-solid.svg"/>  lubomir.slavik@tul.cz</a>
        </div>
    </div>   
</section>

