<section id = "technology" class="technology home">
    <div class="container">
        <div class="card"> 
            <h2>Laser</h2>
            <img src="images/content/laser.png"></img>
            <div class = "reveal">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card"> 
            <h2>3D Tisk</h2>
            <img src="images/content/tisk.png"></img>   
            <div class = "reveal">
                <p>Lorem imodo ligula eget do parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card"> 
            <h2>Vyšívání</h2>
            <img src="images/content/sici.png"></img>
            <div class = "reveal">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card"> 
            <h2>CNC</h2>
            <img src="images/content/cnc.png"></img>
            <div class = "reveal">
                <p>Lorem ipsum dolor sitit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card"> 
            <h2>3D Sken</h2>
            <img src="images/content/skener.png"></img>
            <div class = "reveal">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card"> 
            <h2>Ostatní</h2>
            <img src="images/content/pila.png"></img>
            <div class = "reveal">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                <button>Zjisti více</button>
            </div>
        </div>
    </div>
</section>
