.about {
    width: 100%;
    min-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.8));;

    h1 {
        @include tul40Regular();
        color: white;
        text-shadow: 4px 4px 2px var(--main-color);
        overflow: visible;
        padding-bottom: 30px;
    }

    p {
        @include tul24Regular();
        color: white;
    }

    @include mobileMax768p(){
        h1{
            text-align: center;
        } 

        p{
            @include tul16Regular();
        }
        padding-bottom: 30px;
        padding-top: 30px;
    }
}