<header id = "navigation" class="header" :class="{'scrolled-nav' : scrolledNav}">
    <nav>
      <a href="#homee"><img src="@/../images/content/logo.svg" alt="" srcset=""></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>
      <ul class="menu">
        <li><a class="link active"  href="#home">Domů</a></li>
        <li><a class="link" href="#technology">Technologie</a></li>
        <li><a class="link" href="#calendar">Kalendář</a></li>
        <li><a class="link" href="#contact">Kontakt</a></li>
        <li><a class="link" href="#partners">Partneři</a></li>
      </ul>
    </nav>
  </header>