<section class="about" id="about">
    <div class="container">
        <h1>O nás</h1>
        <p> Jsme dílna otevřená napříč fakultami studentům a zaměstnancům TUL s cílem umožnit
            přístup k technologiím, které mohou být jinak těžko dostupné. </p> 
        <br>
        <p>
            Stěžejní myšlenkou TULΔbu je dát těm, kdo mají zájem, možnost tvořit a&nbspučit se. Fungujeme
            proto na principu od studentů pro studenty tak, aby měly příležitost se posouvat obě strany a
            nikdo, ani úplný začátečník, se nemusel bát přijít a do něčeho se pustit.
        </p>
    </div>
</section>