.technology {
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: rgba(0, 0, 0, 0.80);
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        @media (max-width: 550px) {
          padding-top: 0px;
          flex-direction: column;
        }
        .card{
            padding: 16px;
            border-width: 2px;
            border-color: var(--accent-color);
            border-style: solid;
            position: relative;
            margin: 5px;
            overflow: hidden;
            background-color: var(--main-color);
            max-width: 380px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
                        0 2px 2px rgba(0,0,0,0.1), 
                        0 4px 4px rgba(0,0,0,0.1), 
                        0 8px 8px rgba(0,0,0,0.1),
                        0 16px 16px rgba(0,0,0,0.1);
            img {
                opacity: 1;
                display: block;
                backface-visibility: hidden;
                max-width: 330px;
                max-height: 330px;
                object-fit: cover;
                width: 100%;
                
            }
            h2 {
                @include tul24Regular();
                margin-top: 20px;
                text-align: center;
                color: var(--accent-color)
            }
            .reveal{
                transform: translateY(100%);
                transition: transform 500ms ease-in-out;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.75);
                padding: 30px;
                top : 20%;
                left: -10px;
                height: 80%;
                max-width: 330px;
                p{
                    @include Inter16Regular();
                    position: relative;
                    color: var(--accent-color)
                } 

                ul, li{
                    @include Inter16Regular();
                    color: var(--accent-color)
                }

                button{
                    @include tul16Regular();
                    position: absolute;
                    left:8%;
                    width: 84%;
                    bottom:80px;
                    height: 40px;
                    padding: 0px;
                    cursor: pointer;
                    border: var(--accent-color);
                    border-width: 2px;
                    border-style: solid;
                    color: var(--accent-color);
                    background-color: var(--main-color);
                    visibility:hidden;
                } 
                button:hover{
                    color: var(--main-color);
                    background-color: var(--accent-color);
                }
            }
        }

        .card:hover{
            .reveal{
                transform: translateY(0);
                transition: transform 500ms ease-in-out;
            }   
        }
    } 
}

