<section id = "technology" class="technology home">
    <div class="container">
        <div class="card">
            <h2>Laser</h2>
            <img src="images/content/laser.png"></img>
            <div class = "reveal">
                <p>Thunder Laser je vhodný pro širokou škálu projektů. Na laseru je možné řezat i gravírovat
např. papír, dřevo, překližku, textil, kůži, korek, plexisklo a další. Pracovní plocha má
rozměry 900&nbsp×&nbsp600&nbspmm, výška osy Z je až 230 mm. Lze pracovat v rastrovém, vektorovém i
kombinovaném módu.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card">
            <h2>3D Tisk</h2>
            <img src="images/content/tisk.png"></img>
            <div class = "reveal">
                <p>Disponujeme tiskárnami využívající technolgií SLS, SLA a FDM. Celkem se v prostoru laboratoře nachází 10 tiskáren z nichž
                    nejzastoupenější je Original Prusa i3 MK3S+, který je vhodný na veškerý FDM tisk. Pracovní prostor MK3S+ je 250×210×210&nbspmm. 
                    Pokud je potřeba větší pracovní plocha je možné využít Trilab DeltiQ Plus nebo Creality CR-10 Max.
                </p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card">
            <h2>Vyšívání</h2>
            <img src="images/content/sici.png"></img>
            <div class = "reveal">
                <p>Brother INNOV-is V5LE je nejmodernější šicí, vyšívací a quiltovací stroj. Má 3 velikosti
vyšívacích ploch, největší je 300&nbspx&nbsp200&nbspmm. Data lze připravit v PE&nbsp–&nbspDesign, zpracovává jak
vektorovou grafiku, tak i formáty .png a .jpeg. Mimo vyšívání má i režim ručního šití.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card">
            <h2>CNC</h2>
            <img src="images/content/cnc.png"></img>
            <div class = "reveal">
                <p>CNC obráběcí centrum s pevným pracovním stolem o rozměrech pracovní plochy 800&nbspx&nbsp
1477&nbspx&nbsp145&nbspmm. Systém je určen pro přesné, efektivní obrábění široké škály materiálů na
bázi dřeva, plastů, textilu, hliníku, mosazi, uhlíkových kompozitů, sendvičových desek,
pěnových materiálů a dalších.</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card">
            <h2>3D Sken</h2>
            <img src="images/content/skener.png"></img>
            <div class = "reveal">
                <p>RangeVision Spectrum je víceúčelový 3D skener se skenovacím softwarem ScanCenter
NG.
EinScan Pro 2X Plus je přenosný a univerzální ruční 3D scanner pro výsledky s vysokým
rozlišením (skenovací software EXSCAN PRO, 3D skenování objektů od 1&nbspcm do 3&nbspm)</p>
                <button>Zjisti více</button>
            </div>
        </div>
        <div class="card">
            <h2>Ostatní</h2>
            <img src="images/content/pila.png"></img>
            <div class = "reveal">
                <p>Máme také další ruzné nářadí a to kladiva, svěráky, paličky, štípačky, kombinačky, šroubováky, klíče, ráčny, voříšky, páčidla, sklíčidla, bity, nůžky, měřidla, úhelníky, pinzety, zkoušečky,
a také pily, nože, závitníky, dláta, vrtáky, sponkovačky, sekáče, vyražeče, nůžky, jehly, rašple, pilníky, kartáče,
a v neposlední řadě vrtačky, pily, brusky, frézky, horkovzdušné i lepicí pistole, svítidla.</p>
                <button>Zjisti více</button>
            </div>
        </div>
    </div>
</section>