:root {
    --main-color: #5948AD;
    --accent-color: #28f1f5;
    --white-color: #FFFFFF;
    --black-color: #000000;

    --fs-tul-color: #888B95;
    --ft-tul-color: #924C14;
    --fp-tul-color: #0076D5;
    --ef-tul-color: #65A812;
    --fua-tul-color: #006443;
    --fm-tul-color: #ea7603;
    --fzs-tul-color: #00b0be;
    --cxi-tul-color: #c20019;
}